:root {
  --mainText: #000000;
  --greyText: #656f72;
  --teal: $teal;
  --grey: $grey;
  --lightBlue: #7fdbfd;
  --darkBlue: #0d3545;
  --bg: #ffffff;
  --link: #0d3545;
  --green: #7bc13b;
  font-size: 10px;
}

body {
  transition: background-color 0.5s;
  background-color: var(--bg);
}


//text

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
  color: var(--greyText);
}
p {
  font-weight: 400;
  line-height: 180%;
  margin: 0 0 1.2rem;
  font-size:1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--greyText);
}
ul {
  padding: 0;
}
li {
  font-weight: 400;
  margin-left: 3rem;
  display: list-item;
  text-align: -webkit-match-parent;
  font: 1.5rem/180% "open_sansregular", arial, sans-serif;
  color: var(--greyText);
  box-sizing: border-box;
}

a {
  color: var(--link);
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.button--Green {
  background-color: var(--green);
}

.button--Blue {
  background-color: var(--lightBlue);
}

.beforeAfters__arrows {
  position: absolute;
  height: 2rem;
  width: 2rem;

  border-right: 2px solid var(--greyText);
  border-top: 2px solid var(--greyText);

  cursor: pointer;

  top: 0;
  bottom: 0;

  margin-top: auto;
  margin-bottom: auto;

  &:nth-of-type(1) {
    right: 0;
    transform: rotate(45deg);
  }

  &:nth-of-type(2) {
    left: 0;
    transform: rotate(-135deg);
  }
}


.nav {
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;

   

    .button {
      margin: 0;
      margin-left: 1rem;
      margin-bottom: 1rem;
      vertical-align: middle
    }
  }
}

.navTop {
  @include maxWidth;
  @include center;
  text-align: center;
  padding-top: 1rem;

  font-size:1.6rem;

    
}


.hamburger {
  width: 5rem;
  height: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-bottom: 2rem;

  @include desktop {
    display: none;
  }

  
}

.navLinks {

  @include desktop {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
    height:initial;
    display: inline-block;
    
  }
}


.navOuter {
   position: fixed;
   z-index:100;
   background-color:white;
   width:100%;
   

   

   &[aria-expanded = "true"] {
     height:100vh;
     overflow-y:scroll;
     @Include desktop {
       height:initial
     }
   }

   
}






.hideNav {
  display: none !important;

}

.hideNav.button {
  @include desktop {
    display: inline-block;
  }
}

.hamburger__line {
  width: 100%;
  height: 4px;
  background-color: var(--lightBlue);
}

.nav__button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-size:1.1rem;
  padding:1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
;
  
}

.showButton {

  display: block;


  @include desktop {
    display: block  !important;
  }
}