:root {
  --mainText: #000000;
  --greyText: #656f72;
  --teal: $teal;
  --grey: $grey;
  --lightBlue: #7fdbfd;
  --darkBlue: #0d3545;
  --bg: #ffffff;
  --link: #0d3545;
  --green: #7bc13b;
  font-size: 10px;
}

body {
  transition: background-color 0.5s;
  background-color: var(--bg);
}


//text

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
  color: var(--greyText);
}
p {
  font-weight: 400;
  line-height: 200%;
  margin: 0 0 1.2rem;
  font-size:1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--greyText);
}
ul {
  padding: 0;
}
li {
  font-weight: 400;
  margin-left: 3rem;
  display: list-item;
  text-align: -webkit-match-parent;
  font: 1.5rem/180% "open_sansregular", arial, sans-serif;
  color: var(--greyText);
  box-sizing: border-box;
}

a {
  color: var(--link);
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.button--Green {
  background-color: var(--green);
}

.button--Blue {
  background-color: var(--lightBlue);
}

.beforeAfters__arrows {
  position: absolute;
  height: 2rem;
  width: 2rem;

  border-right: 2px solid var(--greyText);
  border-top: 2px solid var(--greyText);

  cursor: pointer;

  top: 0;
  bottom: 0;

  margin-top: auto;
  margin-bottom: auto;

  &:nth-of-type(1) {
    right: 0;
    transform: rotate(45deg);
  }

  &:nth-of-type(2) {
    left: 0;
    transform: rotate(-135deg);
  }
}

.shadow {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.7px 1.3px rgba(0, 0, 0, 0.048),
  0 3.5px 2.5px rgba(0, 0, 0, 0.06),
  0 5.3px 4.9px rgba(0, 0, 0, 0.072),
  0 10.8px 8.4px rgba(0, 0, 0, 0.086),
  0 25px 20px rgba(0, 0, 0, 0.12);
}

.circle {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--greyText);
  background-color: transparent;
  border-radius: 50%;

  &[aria-selected="true"] {
    background-color: var(--greyText);
  }
}
