$ayy: #7FDBFD;
$teal:#0d3545;
$grey:#656f72;

@mixin center {
    margin-left: auto;
    margin-right: auto;
}

@mixin maxWidth {
    width:80vw;
    max-width:94rem;
}

@mixin h1 {
    font-size:2.8rem;
    font-family: 'Raleway Extra Bold', sans-serif !important;
    color:white;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);

}

@mixin textMargin {
    padding: 0;
    margin: 2rem 0 1rem;

}

@mixin h2 {
    font: 2.8rem/120% "open_sanslight", arial, sans-serif; 
    font-family: "open_sansregular", arial, sans-serif;
    color: var(--greyText);

    @include textMargin
  
}

@mixin h3 {
    font-size: 1.8rem;
    color: var(--greyText);
    font-weight:400;
    font-weight: bold;

    @include textMargin
}

@mixin serviceH2 {
    font-size: 22px;
    font-size:400;
    color: var(--mainText);
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin desktop {
    @media (min-width:1024px) {
        @content
    }
}

.navHidden {
    display: none;
  
    @include desktop {
      display:initial
    }
  
  }



  .hamburger {
    width: 5rem;
    height: 3rem;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    margin-right: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-bottom: 2rem;
  
    @include desktop {
      display: none;
    }
  
    
  }

  .hamburger__line {
    width: 100%;
    height: 4px;
    background-color: var(--lightBlue);
  }

  .nav__button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  
    font-size:1.6rem;
    padding:1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  ;
    
  }

  .nav {
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding-left: 1rem;
      padding-right: 1rem;
  
     
  
      .button {
        margin: 0;
        margin-left: 1rem;
        margin-bottom: 1rem;
        vertical-align: middle
      }
    }
  }
  
  .navTop {
    @include maxWidth;
    @include center;
    text-align: center;
    padding-top: 1rem;
  
    font-size:1.8rem;
  
      
  }
  
  
  
  
  .navLinks {
  
    @include desktop {
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      position: relative;
      height:initial;
      display: inline-block;
      
    }
  }
  
  
  .navOuter {
     position: fixed;
     z-index:100;
     background-color:white;
     width:100%;
     
  
     
  
     &[aria-expanded = "true"] {
       height:100vh;
       overflow-y:scroll;
       @include desktop {
         height:initial
       }
     }
  
     
  }
  
  
  
  .hideNav.button {
    @include desktop {
      display: inline-block;
    }
  }
  
  
  
  
  
  .showButton {
  
    display: block;
  
  
    @include desktop {
      display: block  !important;
    }
  }
